@import "reset.css";


@font-face {
  font-family: 'TTHakgyoansimKkwabaegiR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimKkwabaegiR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(124deg, #a9d5ff, #ffffff, #ffe99f, #e5ffcc, #e8bcff,#a9d5ff, #ffffff, #ffe99f);
    background-size: 1800% 1800%;
    -webkit-animation: back 18s ease infinite;
    -z-animation: back 18s ease infinite;
    -o-animation: back 18s ease infinite;
      animation: back 18s ease infinite;
  font-family: 'SUIT', sans-serif;
}

@-webkit-keyframes back {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes back {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes back {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes back { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

#wrap{
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 100px;
  
}


/*헤더*/
#header {
    width: 100%;
    height: auto;
    padding: 40px 0;
    box-sizing: border-box;
    font-family: 'TTHakgyoansimKkwabaegiR';
    font-weight: 500;
    color: #fff;
    font-size: 5rem; 
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
}

#header .tab_menu {
    width: 45%;
    max-width: 512px;
    height: 250px;
    margin: 50px auto 0;
    box-sizing: border-box;
    position: relative;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
  
}

#header .tab_menu li {
    width: 16vw;
    max-width: 200px;
    height: auto;
    overflow: hidden;
    position: absolute;

}

#header .tab_menu li > img {
    width: 120%;
    height: auto;
    margin-left: -20px;
}

#header .tab_menu li:first-child {
  left: 0;
  animation: right 3s infinite;
  animation-direction: alternate-reverse;
}
#header .tab_menu li:nth-child(2) {
  left: 50%;
  top:0;
  transform: translate(-50%,0);
  animation: top 3s infinite;
  animation-direction: alternate-reverse;
}
#header .tab_menu li:last-child {
  right: 0;
  animation: left 3s infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes right {
  0% {left: 0; transform: rotate(0)}
  50% {left: 0; transform: rotate(0)}
  100%{left: 8%; transform: rotate(15deg)}
}

@-webkit-keyframes left {
  0% {right: 0; transform: rotate(0);}
  50% {right: 0; transform: rotate(0);}
  100%{right: 8%; transform: rotate(-15deg);}
}

@-webkit-keyframes top {
  0% {top: 0;}
  50% {top: 0;}
  100%{top: -15%;}
}







/*스크롤 다운*/
/* 
.scroll_down {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 5% auto;
}

.scroll_down .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
  
.scroll_down .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
  
.scroll_down .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
  
.scroll_down .chevron:before,
.scroll_down .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.scroll_down .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
  
.scroll_down .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .scroll_down .text {
    display: block;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  } */

#content {
    width: 80vw;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #fff;
    border-radius: 20px;
    padding: 50px 30px;
    box-sizing: border-box;
  
}

#search_wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 15px 30px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: rgba(245, 247, 250, 0.8);
  display: flex;
  align-items: center;
  overflow: hidden;
}

#search_wrap input {
  background: none;
  border: none;
  width: 10px;
  height: 100%;
  flex: 1 1 0;
  font-size: 1.5rem;
}

#search_wrap input::placeholder {
  color: #7c7c7c;
}
#search_wrap button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color:#9bcefe;
}

#search_wrap button:active {
  color: #7094b7;
}

#hash_wrap {
  width: 100%;
}
#hash_wrap ul{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  box-sizing: border-box;

}
#hash_wrap ul li {
  padding: 4px 8px;
  border-radius: 200px;
  border: 1px solid #9bcefe;
  background-color: #fff;
  color: #9bcefe;
} 
#hash_wrap ul li::before {
  content: "#";
  display: inline-block;
}




/*정보*/
#info_all_wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 20px;

}

#info_all_wrap .info_box {
  width: 100%;
  height: 70vh;
  max-height: 550px;
}

#info_all_wrap .info_box .cover {
  position: relative;
  width: 100%;
  height: 100%;
}

#info_all_wrap .info_box .cover .prd_info {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 5px 5px rgb(0,0,0 , 0.08);
}

/*상품 정보*/
#info_all_wrap .info_box .prd_info .half_top {
  width: 100%;
  pointer-events : none;
  position: relative;
  margin-bottom: 20px;
}

.prd_info .half_top .img_wrap{
  width: 20%;
  height: auto;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 100;
}

.prd_info .half_top .img_wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prd_info .half_top .back_wrap {
  width: 100%;
  height: 35vh;
  max-height: 300px;
  box-sizing: border-box;
  margin-top: -2px;
  overflow: hidden;
  position: relative;
}

.prd_info .half_top .back_wrap > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prd_info .half_top .back_wrap p {
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  padding: 10vh 30px 30px;
  color: #fff;
  font-family: 'GmarketSansMedium';
  font-weight: bold;
  text-transform: capitalize;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5))
}

.prd_info .half_top .prd_txt {
  width: 78%;
  padding: 20px 30px 0px;
  box-sizing: border-box;
}

.prd_info .half_top .prd_txt span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #666;
}


.prd_info .half_top .prd_txt h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #202020;

}

.prd_info .half_top .prd_txt .area {
  color: #666;
  font-size: 0.9rem;
  margin: 15px 0;
}

/*별점*/
#info_all_wrap .info_box .prd_info .prd_txt .star {
  display: flex;
  gap: 5px;
  width: 100%;
}
#info_all_wrap .info_box .prd_info .prd_txt .star .full::after {
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  color: #ff7979;
}

#info_all_wrap .info_box .prd_info .prd_txt .star .half::after {
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  color: #d2d2d2;
}





/*세부리뷰 정보*/
.prd_info .review_wrap {
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
}

.prd_info .review_wrap .icon::after{
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f10d";
  color: #e6e8ea;

}

.prd_info .review_wrap p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}



/*클릭시 활성화*/

/*스크롤 제거*/
body:has(.info_box.active) {
  overflow-y: hidden;
}

#info_all_wrap .info_box.active {
  position: fixed;
  max-height: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
}

/* #info_all_wrap .info_box.active::before{
  display: block;
  content: '';
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
} */


#info_all_wrap .info_box.active .close{
  width: 25px;
  height: 25px;
  position: absolute;
  right: -30px;
  top: -30px;
}

#info_all_wrap .info_box.active .cover {
  width: 80vw;
  max-width: 1024px;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#info_all_wrap .info_box.active .img_wrap {
  width: 10%;
}








